---
layout: default
---

<h3>Faculty</h3>

<table>
  <tr><td></td>
      <td valign="top">
        <ul>
          {% for pi in site.data.faculty %}
          <li><a href="{{ pi.link }}"> {{ pi.name }} </a> ({{ pi.title }}) </li>
          {% endfor %}
        </ul>
      </td>
  </tr>
</table>

<table style="width: 100%;"><tr>
<td valign="top">
<h3>Current Members</h3>
<ul>
  {% for pi in site.data.students %}
    <li>
      {% if pi.link %}
        <a href="{{ pi.link }}">{{ pi.name }}</a>
      {% else %}
        {{ pi.name }}
      {% endif %}
      ({{ pi.title }})
    </li>
  {% endfor %}
</ul>

<h3>Other Co-supervised Graduate Students</h3>
<ul>
    Please refer to <a href="https://www.cs.hku.hk/people/research-student">the list of HKUCDS research students</a>
</ul>
</td>


<td valign="top">
<h3>Alumni</h3>
<ul>
  {% for pi in site.data.alumni %}
    <li>
      {% if pi.link %}
        <a href="{{ pi.link }}">{{ pi.name }}</a>
      {% else %}
        {{ pi.name }}
      {% endif %}
    </li>
  {% endfor %}
</ul>

<h3>Interns</h3>
<ul>
    {% for pi in site.data.interns %}
    <li>
        {% if pi.link %}
        <a href="{{ pi.link }}">{{ pi.name }}</a>
        {% else %}
        {{ pi.name }}
        {% endif %}
        ({{ pi.title }})
    </li>
    {% endfor %}
</ul>
</td>

</table>
