/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 38px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Course List
 */
.course-list {
    margin-top: 30px;
}

.course-item {
    margin-bottom: 40px;

    .course-title {
        font-size: 1.6em;
        margin-bottom: 10px;
        
        a {
            color: $brand-color;
            &:hover { text-decoration: underline; color: darken($brand-color, 10%); }
        }
    }

    .course-meta {
        font-size: 1em;
        color: $grey-color-dark;
        margin-bottom: 15px;
        font-style: italic;
    }

    .course-description {
        margin-bottom: 20px;
        line-height: 1.7;
    }

    .course-tas {
        background-color: transparent;
        border-left: 3px solid $grey-color-light;
        padding-left: 15px;
        margin-left: 5px;
        
        strong {
            display: block;
            margin-bottom: 10px;
            color: $grey-color-dark;
        }

        ul {
            margin-left: 0;
            padding-left: 20px;
            margin-bottom: 0;

            li {
                margin-bottom: 4px;
            }
        }
    }
}

.course-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    margin: 40px 0;
}

/**
 * Resources Page
 */
.resource-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 1.2em;
    color: $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.resource-list-compact {
    li {
        margin-bottom: 6px;
        font-size: 0.95em;
        line-height: 1.5;
    }

    a {
        // font-weight: 400; // Inherit from body (300)
    }
}

/**
 * Seminars Page
 */
.seminars-page {
    max-width: 800px;
    margin: 0 auto;
}

.seminars-header {
    margin-bottom: 25px;
}

.seminars-title {
    font-size: 1.8em;
    font-weight: 400;
    color: $grey-color-dark;
    margin-bottom: 5px;
}

.seminars-note {
    font-size: 0.9em;
    color: $grey-color;
    margin: 0;
}

.year-nav {
    font-size: 0.85em;
    color: $grey-color;
    margin-bottom: 20px;

    a {
        color: $grey-color;
        text-decoration: none;
        margin-right: 10px;

        &:hover {
            color: $brand-color;
        }
    }
}

.seminars-timeline {
    position: relative;
}

.year-section {
    margin-top: 25px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.year-heading {
    font-size: 1.2em;
    font-weight: 500;
    color: $grey-color-dark;
    padding-bottom: 6px;
    border-bottom: 2px solid $brand-color;
    display: inline-block;
    margin-bottom: 0;
}

.seminar-card {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid lighten($grey-color-light, 10%);

    &:last-child {
        border-bottom: none;
    }
}

.seminar-date {
    flex-shrink: 0;
    width: 45px;
    text-align: center;

    .date-day {
        display: block;
        font-size: 1.3em;
        font-weight: 500;
        color: $brand-color;
        line-height: 1.1;
    }

    .date-month {
        display: block;
        font-size: 0.75em;
        color: $grey-color;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}

.seminar-content {
    flex: 1;
    min-width: 0;
    padding-top: 2px;
}

.seminar-title {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2px;
    line-height: 1.4;

    a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            color: $brand-color;
        }
    }
}

.seminar-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 12px;
    font-size: 0.85em;
    color: $grey-color;
}

.seminar-speaker {
    &::before {
        content: "";
    }
}

.seminar-venue {
    &::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: $grey-color-light;
        border-radius: 50%;
        margin-right: 8px;
        vertical-align: middle;
    }
}

@include media-query($on-palm) {
    .seminars-header {
        margin-bottom: 20px;
    }

    .seminars-title {
        font-size: 1.5em;
    }

    .seminar-card {
        gap: 12px;
        padding: 8px 0;
    }

    .seminar-date {
        width: 40px;

        .date-day {
            font-size: 1.2em;
        }
    }

    .seminar-title {
        font-size: 0.95em;
    }

    .seminar-meta {
        font-size: 0.8em;
    }
}
